# Global
.DS_Store
Thumbs.db
*.log
*.tmp
*.swp

# IDE
.idea/
.vscode/
*.iml

# Node/Angular
Cop-Frontend-Angular/node_modules/
Cop-Frontend-Angular/dist/
Cop-Frontend-Angular/.env
Cop-Frontend-Angular/*.env

# Java/Maven
Backend/target/
Worker/target/
**/target/

# Environment/Secrets
*.env
.env
.env.*

# OS
Desktop.ini
$RECYCLE.BIN/