@use '@angular/material' as mat;

// Tema Material personalizado (Material v20 - M3)
$theme: mat.define-theme((
  color: (
    theme-type: light,
    primary: mat.$indigo-palette,
    tertiary: mat.$pink-palette
  ),
  typography: mat.define-typography-config(),
  density: 0
));
@include mat.all-component-themes($theme);

html, body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Inter, Roboto, "Helvetica Neue", Arial, sans-serif;
  background: linear-gradient(180deg, #f7f8fb 0%, #eef1f7 100%);
}

.app-shell {
  display: grid;
  grid-template-columns: 280px 1fr;
  height: 100vh;
}
.sidebar {
  background: #101528;
  color: #fff;
  padding: 16px;
}
.content {
  padding: 24px;
}